.portrait-gallery {
  .portrait__1 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/1.jpg");
  }
  .portrait__2 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/2.jpg");
  }
  .portrait__3 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/3.jpg");
  }
  .portrait__4 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/4.jpg");
  }
  .portrait__5 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/5.jpg");
  }
  .portrait__6 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/6.jpg");
  }
  .portrait__7 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/7.jpg");
  }
  .portrait__8 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/8.jpg");
  }
  .portrait__9 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/9.jpg");
  }
  .portrait__10 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/10.jpg");
  }
  .portrait__11 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/11.jpg");
  }
  .portrait__12 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/12.jpg");
  }
  .portrait__13 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/13.jpg");
  }
  .portrait__14 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/14.jpg");
  }
  .portrait__15 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/15.jpg");
  }
  .portrait__16 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/16.jpg");
  }
  .portrait__17 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/17.jpg");
  }
  .portrait__18 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/18.jpg");
  }
  .portrait__19 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/19.jpg");
  }
  .portrait__20 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/20.jpg");
  }
  .portrait__21 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/21.jpg");
  }
  .portrait__22 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/22.jpg");
  }
  .portrait__23 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/23.jpg");
  }
  .portrait__24 {
    background-image: url("../../media/galleries/photo/portraits/thumbs/24.jpg");
  }

  &.hidden {
    display: none;
  }
}
