.backdrop {
  // --------------------ART GALLERY

  .art__1 {
    background-image: url("../media/galleries/photo/art/1.jpg");
  }
  .art__2 {
    background-image: url("../media/galleries/photo/art/2.jpg");
  }
  .art__3 {
    background-image: url("../media/galleries/photo/art/3.jpg");
  }
  .art__4 {
    background-image: url("../media/galleries/photo/art/4.jpg");
  }
  .art__5 {
    background-image: url("../media/galleries/photo/art/5.jpg");
  }
  .art__6 {
    background-image: url("../media/galleries/photo/art/6.jpg");
  }
  .art__7 {
    background-image: url("../media/galleries/photo/art/7.jpg");
  }
  .art__8 {
    background-image: url("../media/galleries/photo/art/8.jpg");
  }
  .art__9 {
    background-image: url("../media/galleries/photo/art/9.jpg");
  }
  .art__10 {
    background-image: url("../media/galleries/photo/art/10.jpg");
  }
  .art__11 {
    background-image: url("../media/galleries/photo/art/11.jpg");
  }
  .art__12 {
    background-image: url("../media/galleries/photo/art/12.jpg");
  }
  .art__13 {
    background-image: url("../media/galleries/photo/art/13.jpg");
  }
  .art__14 {
    background-image: url("../media/galleries/photo/art/14.jpg");
  }
  .art__15 {
    background-image: url("../media/galleries/photo/art/15.jpg");
  }
  .art__16 {
    background-image: url("../media/galleries/photo/art/16.jpg");
  }

  // --------------------FANTASY GALLERY

  .fantasy__1 {
    background-image: url("../media/galleries/photo/fantasy/1.jpg");
  }
  .fantasy__2 {
    background-image: url("../media/galleries/photo/fantasy/2.jpg");
  }
  .fantasy__3 {
    background-image: url("../media/galleries/photo/fantasy/3.jpg");
  }
  .fantasy__4 {
    background-image: url("../media/galleries/photo/fantasy/4.jpg");
  }
  .fantasy__5 {
    background-image: url("../media/galleries/photo/fantasy/5.jpg");
  }
  .fantasy__6 {
    background-image: url("../media/galleries/photo/fantasy/6.jpg");
  }
  .fantasy__7 {
    background-image: url("../media/galleries/photo/fantasy/7.jpg");
  }
  .fantasy__8 {
    background-image: url("../media/galleries/photo/fantasy/8.jpg");
  }

  // --------------------PORTRAIT GALLERY

  .portrait__1 {
    background-image: url("../media/galleries/photo/portraits/1.jpg");
  }
  .portrait__2 {
    background-image: url("../media/galleries/photo/portraits/2.jpg");
  }
  .portrait__3 {
    background-image: url("../media/galleries/photo/portraits/3.jpg");
  }
  .portrait__4 {
    background-image: url("../media/galleries/photo/portraits/4.jpg");
  }
  .portrait__5 {
    background-image: url("../media/galleries/photo/portraits/5.jpg");
  }
  .portrait__6 {
    background-image: url("../media/galleries/photo/portraits/6.jpg");
  }
  .portrait__7 {
    background-image: url("../media/galleries/photo/portraits/7.jpg");
  }
  .portrait__8 {
    background-image: url("../media/galleries/photo/portraits/8.jpg");
  }
  .portrait__9 {
    background-image: url("../media/galleries/photo/portraits/9.jpg");
  }
  .portrait__10 {
    background-image: url("../media/galleries/photo/portraits/10.jpg");
  }
  .portrait__11 {
    background-image: url("../media/galleries/photo/portraits/11.jpg");
  }
  .portrait__12 {
    background-image: url("../media/galleries/photo/portraits/12.jpg");
  }
  .portrait__13 {
    background-image: url("../media/galleries/photo/portraits/13.jpg");
  }
  .portrait__14 {
    background-image: url("../media/galleries/photo/portraits/14.jpg");
  }
  .portrait__15 {
    background-image: url("../media/galleries/photo/portraits/15.jpg");
  }
  .portrait__16 {
    background-image: url("../media/galleries/photo/portraits/16.jpg");
  }
  .portrait__17 {
    background-image: url("../media/galleries/photo/portraits/17.jpg");
  }
  .portrait__18 {
    background-image: url("../media/galleries/photo/portraits/18.jpg");
  }
  .portrait__19 {
    background-image: url("../media/galleries/photo/portraits/19.jpg");
  }
  .portrait__20 {
    background-image: url("../media/galleries/photo/portraits/20.jpg");
  }
  .portrait__21 {
    background-image: url("../media/galleries/photo/portraits/21.jpg");
  }
  .portrait__22 {
    background-image: url("../media/galleries/photo/portraits/22.jpg");
  }
  .portrait__23 {
    background-image: url("../media/galleries/photo/portraits/23.jpg");
  }
  .portrait__24 {
    background-image: url("../media/galleries/photo/portraits/24.jpg");
  }

  // --------------------NATURE GALLERY

  .nature__1 {
    background-image: url("../media/galleries/photo/nature/1.jpg");
  }
  .nature__2 {
    background-image: url("../media/galleries/photo/nature/2.jpg");
  }
  .nature__3 {
    background-image: url("../media/galleries/photo/nature/3.jpg");
  }
  .nature__4 {
    background-image: url("../media/galleries/photo/nature/4.jpg");
  }
  .nature__5 {
    background-image: url("../media/galleries/photo/nature/5.jpg");
  }
  .nature__6 {
    background-image: url("../media/galleries/photo/nature/6.jpg");
  }
  .nature__7 {
    background-image: url("../media/galleries/photo/nature/7.jpg");
  }
  .nature__8 {
    background-image: url("../media/galleries/photo/nature/8.jpg");
  }
  .nature__9 {
    background-image: url("../media/galleries/photo/nature/9.jpg");
  }
  .nature__10 {
    background-image: url("../media/galleries/photo/nature/10.jpg");
  }

  // --------------------LOVE GALLERY

  .love__1 {
    background-image: url("../media/galleries/photo/love/thumb/1.jpg");
  }
  .love__2 {
    background-image: url("../media/galleries/photo/love/thumb/1.jpg");
  }
  .love__3 {
    background-image: url("../media/galleries/photo/love/thumb/1.jpg");
  }
  .love__4 {
    background-image: url("../media/galleries/photo/love/thumb/1.jpg");
  }
}
