.photo-gallery {
  padding-right: 20px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;

  @media (max-width: 769px) {
    padding-right: 0;
    height: 92%;
    border: 2px solid var(--circle-outline);
  }

  /* width */
  &::-webkit-scrollbar {
    width: 5px;

    @media (max-width: 769px) {
      display: none;
    }
  }

  /* Track */
  &::-webkit-scrollbar-track {
    width: 10%;
    background: rgba(196, 193, 193, 0);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--prime-color);
    border-radius: 10px;
  }

  &.web-gallery {
    padding-left: 20px;
    padding-right: 0;
  }
}
